.flag{
    position: relative;
    display: table;
}
.green{
  width: 500px;
  height: 300px;
  background-color: green;
  border-radius:0 0 0 10px;           
}

.red{
    width: 120px;
    height: 120px;
    background-color: red;
    border-radius: 50%;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bamboo{
    width: 10px;
    height: 550px;
    background-color: black;
    position:absolute;
    top: -20px;
    border-radius: 10px;
}
.flag-parent{
    margin: 50px auto 0;
    display: table;
}
.box {
width: 150px;
height: 100px;
position: absolute;
left: -74px;
bottom: -297px;
background-color: black;
border-radius: 10px 10px 25px 25px;
}